body {
    font-family: var(--font-family);
  }
  
.orders-container {
    padding: 20px;
  }
  
.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #ddd;
}

@media (max-width: 768px) {
  .orders-table {
    font-size: 14px;
  }
  .orders-table th, .orders-table td {
    padding: 8px;
  }
}

@media (max-width: 576px) {
  .orders-table {
    font-size: 12px;
  }
}

.orders-table th, .orders-table td {
  border: 1px solid #ddd;
  padding: 12px;
}

.orders-table th {
  background-color: #f2f2f2;
  color: #333;
}

.orders-table td {
  text-align: center;
  color: #666;
}

.orders-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
  
.orders-table tr:hover {
  background-color: #f2f2f2;
}

.actionColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .actionColumn{
    flex-direction:row;

  }
}

.actionBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #007bff;
}

.actionBtn:hover {
  color: #0056b3;
}

.selectStatus {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ccc;
  padding: 5px 25px 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  background: url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right 5px center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #999;
}

.pending {
  background-color: #ffe6cc; 
}

.shipped {
  background-color: #cce5ff; 
}

.delivered {
  background-color: #d4edda; 
}

.noOrdersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.noOrdersContent img {
  width: 350px; 
  height: auto; 
  margin-bottom: 20px; 
}

.noOrdersContent p {
  font-size: 18px;
  color: #666; 
  text-align: center;
}